
TimeCruncher/TimeCruncher/obj/Debug/TimeCruncher.pdb
TimeCruncher/TimeCruncher/obj/Debug/TimeCruncher.exe
TimeCruncher/TimeCruncher/obj/Debug/TimeCruncher.csprojAssemblyReference.cache
TimeCruncher/TimeCruncher/obj/Debug/TimeCruncher.csproj.GenerateResource.cache
TimeCruncher/TimeCruncher/obj/Debug/TimeCruncher.csproj.FileListAbsolute.txt
TimeCruncher/TimeCruncher/obj/Debug/TimeCruncher.csproj.CoreCompileInputs.cache
TimeCruncher/TimeCruncher/bin/Debug/TimeCruncher.pdb
TimeCruncher/TimeCruncher/bin/Debug/TimeCruncher.exe
TimeCruncher/.vs/TimeCruncher/v15/Server/sqlite3/storage.ide-wal
TimeCruncher/.vs/TimeCruncher/v15/Server/sqlite3/storage.ide-shm
TimeCruncher/.vs/TimeCruncher/v15/.suo
